/**/
*{
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk", sans-serif;
    font-size: 18px;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: row;
}
.backColor{
    width: 27%;
    height: 100vh;
    background-image: url('images/bg-main-desktop.png');
    background-size: cover
}
.backColorWhite{
    width: 70%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    width: 500px;
}
/*PARTE DO INPUT DO NOME E DO CODIGO DO CARTAO*/

.inputName{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.inputCodigo{
    display: flex;
    flex-direction: column;
}

/*PARTE DO INPUT DO NOME E DO CODIGO DO CARTAO*/



/*PARTE DO INPUT DE DATA DE EXPIRAÇÃO DO CARTAO*/

.cardDateCVC{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.dateCard{
    display: flex;
    width: 50%;
    gap: 10px;
}
.cardCVC{
    width: 50%;
}

/*PARTE DO INPUT DE DATA DE EXPIRAÇÃO DO CARTAO*/
input{
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid hsl(270, 3%, 87%);
    font-size: larger;

}
input::placeholder{
    color: hsl(270, 3%, 87%);
    font-weight: 500;
    letter-spacing: 1px;
}
input:hover{
        border: 1px solid hsl(278, 94%, 30%);
}
input[type=button]{
    background-color: hsl(278, 68%, 11%);
    color: white;
    margin-top: 25px;
}
label{
    margin-bottom: 5px;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: bold;
}

.backCardimg{
    position: absolute;
    top: 50%;
    left: 15%;
    background-image: url('images/bg-card-back.png');
    background-size: cover;
    width: 447px;
    height: 245px;
    display: flex;
}

.frontCardimg{
    position: absolute;
    top: 20%;
    left: 10%;
    background-image: url('images/bg-card-front.png');
    background-size: cover;
    width: 447px;
    height: 245px;
    display: flex;
    padding: 1.2%;
    flex-direction: column;
}
.numberCard{
    display: flex;
    margin-top: 17%;
    margin-bottom: 5%;
}
#numberResult{
    font-size: 30px;
    letter-spacing: 3px;
}
.nameDate{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nameDateSpan{
    font-size: 16px;
    letter-spacing: 2px;
}
span{
    color: white;
}

#spanCVV{
    margin-top: 24.5%;
    margin-left: 80%;
}

p{
    font-size: small;
    color: red;
    margin-top: 4px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {/*ESCONDE O BOTÃO DE ENCREMENTO E DECREMENTO*/
    -webkit-appearance: none;
    margin: 0;
}

#aproved{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



@media (max-width: 1430px) {/*RESPONSIVIDADE*/
    main{
        display: flex;
        flex-direction: column;
    }
    .backColor{
        width: 100%;
        height: 30vh;
    }
    form{
        width: 100%;
    }
    .backColorWhite{
        width: 100%;
        height: 70vh;
    }
    .backCardimg{
        width: 319.2px;
        height: 175px;
        top: 5%;
        left: 18%;
    }
    .frontCardimg{
        width: 319.2px;
        height: 175px;
        left: 5%;
        top: 16%;
        padding: 14px;
        padding-left: 20px;
        padding-right: 20px;
    }
    #spanCVV{
        font-size: 12px;
    }
    #numberResult{
        font-size: 20px;
        margin-top: -10px;
    }
    .nameDateSpan{
        font-size: 12px;
    }
    #imgCard{
        width: 68px;
        height: 40px;
    }
    #aproved{
        padding: 23px;
    }
}